.hotel-facilities-content {
    display: flex;
    flex-direction: column;
    padding-bottom: 120px;
}

.hotel-facilities-content .facility-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.hotel-facilities-content .facility-content div:nth-child(1) {
    padding: 0 120px;
    flex-basis: 50%;
}

.hotel-facilities-content .facility-content div:nth-child(1).last-order {
    order: 1;
    padding: 0 120px 0 40px;
}

.hotel-facilities-content .facility-content div:nth-child(1) h3 {
    font-size: 39px;
    padding-bottom: 20px;
    color: #11142D;
    font-weight: 700;
}

.hotel-facilities-content .facility-content div:nth-child(1) p {
    font-family: var(--font-mulish);
    color: #515151;
    font-size: 18px;
}

.hotel-facilities-content .facility-content div:nth-child(2) {
    flex-basis: 50%;
}

.hotel-facilities-content .facility-content img {
    padding: 40px;
    width: 100%;
}

@media only screen and (max-width: 1115px){
    .hotel-facilities-content {
        margin-top: -80px;
    }

    .hotel-facilities-content .facility-content {
        flex-wrap: wrap;
        padding-bottom: 40px;
    }

    .hotel-facilities-content .facility-content div:nth-child(1) {
        flex-basis: 100%;
        padding: 0 40px 0 40px;
    }

    .hotel-facilities-content .facility-content div:nth-child(2) {
        flex-basis: 100%;
        padding: 0;
    }

    .hotel-facilities-content .facility-content div:nth-child(1).last-order {
        order: 0;
        padding: 0 40px;
    }
}