main .booking-section h2 {
    font-size: 49px;
    padding: 120px 0 80px 120px;
}

main .booking-section form {
    margin: 0 120px 200px 120px;
}

main .booking-section form .form-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

main .booking-section form .form-container .billing-form {
    border: 1px solid #E1E1E1;
    flex: 1;
    padding: 30px;
    border-radius: 8px;
}

main .booking-section form .form-container .billing-form h3 {
    font-size: 24px;
    padding-bottom: 20px;
}

main .booking-section form .form-container .billing-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

main .booking-section form .form-container .billing-form .name {
    display: flex;
    gap: 20px;
}


main .booking-section form .form-container .billing-form input {
    border: 1px solid #E1E1E1;
    width: 100%;
    padding: 12px;
    border-radius: 8px;
}

main .booking-section form .form-container .billing-form .phone input {
    border: none;
}

main .booking-section form .form-container .billing-form .phone {
    display: flex;
    align-items: center;
    border: 1px solid #E1E1E1;
    border-radius: 8px;
}

main .booking-section form .form-container .billing-form .phone div {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #E1E1E1;
}

main .booking-section form .form-container .billing-form .phone div span {
    display: inline-block;
    border: solid #9A9AB0;
    border-width: 0 3px 3px 0;
    padding: 3px;
    transform: rotate(45deg);
}

main .booking-section form .form-container .billing-form .name label{
    flex-basis: 50%;
}

main .booking-section form .form-container .billing-form label h4 {
    font-family: var(--font-mulish);
    padding-bottom: 8px;
    font-size: 16px;
}

 
main .room-item {
    flex-basis: 400px;
    border: 1px solid #E1E1E1;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

main .room-item .room-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

main .room-item .room-information {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

main .room-item .room-information h3 {
    font-size: 24px;
}

main .room-item .room-information .room-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .room-item .room-information .room-info div {
    display: flex;
    align-items: center;
    gap: 4px;
}

main .room-item .room-information .room-info div p {
    color: #9A9AB0;
    font-family: var(--font-mulish);
}

main .room-item .room-information .room-price {
    display: flex;
    justify-content: space-between;
}

main .room-item .room-information .room-price button {
    background-color: #C7923E;
    border: none;
    outline: none;
    color: white;
    font-family: var(--font-mulish);
    padding: 18px 24px;
    border-radius: 8px;
}

main .room-item .room-information .room-price div p:nth-child(1) {
    color: #515151;
    font-weight: 600;
    padding-bottom: 16px;
}

main .room-item .room-information .room-price div p:nth-child(2) {
    color: #27343F;
    font-weight: 700;
    font-size: 18px;
}

main .room-item .room-information .room-price div p:nth-child(2) span {
    color: #9A9AB0;
    font-size: 12px;
    font-weight: 400;
}

main .form-cta {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    padding: 80px 0;
}

main .form-cta div {
    display: flex;
    gap: 10px;
}

main .form-cta div label {
    font-family: var(--font-mulish);
}

main .form-cta div input[type="checkbox"] {
    height:1.5em;
    width:1.5em;
    cursor:pointer;
    position:relative;
    border-radius:4em;
    background-color:red;
}

main .form-cta button {
    width: 80%;
    padding: 18px;
    border: none;
    border-radius: 8px;
    background-color: #C7923E;
    color: white;
}

@media only screen and (max-width: 1115px){
    main .booking-section h2 {
        font-size: 32px;
        padding: 40px 0 80px 40px;
    }

    main .booking-section form {
        margin: 0 40px 200px 40px;
    }
}

@media only screen and (max-width: 928px) {
    main .booking-section form .form-container {
        flex-wrap: wrap;
    }

    main .booking-section form .form-container .billing-form {
        flex-basis: 100%;
    }

    main .booking-section form .form-container .room-item {
        flex-basis: 100%;
    }
}